<template data-controller-name="view.Faculties" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.apb.TabPage" data-title="Faculties" data-nav-button-text="" data-icon="" data-tab-text="Faculties" data-tab-icon="" data-tab-badge="" id="Faculties">
		<div data-sap-ui-aggregation="customData">
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22%22%7D">
			</div>
		</div>
		<div data-sap-ui-type="sap.apb.SuperList" data-metadata-file="view/faculties.slmeta" id="SuperList1">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22left%3A0px%3Btop%3A0px%3Bheight%3A100%25%3Bwidth%3A100%25%3Bfont-family%3Averdana%3Bfont-style%3Anormal%3Boverflow%3Ahidden%3Bposition%3Aabsolute%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
	</div>
</template>