<template data-controller-name="view.HomePage" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.apb.TabPage" data-title="HOME" data-nav-button-text="" data-icon="" data-tab-text="Home" data-tab-icon="" data-tab-badge="" id="homePage">
		<div data-sap-ui-type="sap.m.Button" data-text="Change text" data-width="151px" data-icon="" data-active-icon="" id="helloButton" data-press="onHelloButton">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A93px%3Btop%3A204px%3Bz-index%3A10%3Bwidth%3A151px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Label" data-text="hello" data-text-align="Center" data-width="214px" id="helloLabel">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22min-width%3A16px%3Bmin-height%3A16px%3Bposition%3Aabsolute%3Bleft%3A59px%3Btop%3A32px%3Bz-index%3A10%3Bwidth%3A214px%3Bheight%3A41px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Input" data-value="" data-width="200px" data-name="" data-placeholder="" data-value-state-text="" id="helloInput">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22overflow%3Ahidden%3Bwidth%3A200px%3Bposition%3Aabsolute%3Bleft%3A93px%3Btop%3A110px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
	</div>
</template>